.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #faf7fd;
  margin: 0;
}
body {
  margin: 0;
}
h1 {
  color: #4a2178;
  padding: 0.5rem;
  bottom: 2rem;
  top: 2rem;
  font-size: 3rem;
}
input {
  width: 50%;
  height: 1.2rem;
  top: 2rem;
}
footer {
  background-color: #f2ebfa;
  color: #955fd3;
  padding: 0.5rem;
  display: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
li {
  display: inline;
  padding: 0.25rem;
}
.darkLine {
  width: 100%;
  background-color: #955fd3;
  height: 1vh;
  top: 1rem;
  bottom: 1rem;
  left: 0;
  right: 0;
}

#outputDiv {
  font-size: 1.2rem;
  color: #4a2178;
  padding: 1rem;
}
#emojiContainer {
  height: 40vh;
}
#emojiList {
  font-size: 1.75rem;
}

#footerList {
  padding: 1rem;
}

a {
  text-decoration: none;
}
